@charset "utf-8";

/*内容展示*/

section.ct-box {
    background-color: #ffffff;
}

section.ct-box .title-top {
    height: 50px;
    color: #999999;
    font-size: 12px;
    line-height: 50px;
    /* margin-top: 20px; */
}

section.ct-box .title-top .title-top-left {
    height: 50px;
    margin-right: 10px;
    float: left;
}

section.ct-box .title-top span {
    margin-left: 5px;
}

section.ct-box .title-top img {
    display: inline-block;
    width: 200px;
}

.ct-box .title-top .house {
    margin-bottom: 2px;
    width: 14px;
    height: 14px;
}

.ct-box .title-top .gray-icon {
    width: 3px;
    height: 6px;
    margin-left: 5px;
}


.title-top a:hover{
    color:#2869c1;
}


/* <!--内容列表--> */

section .content-List {
    background-color: #ffffff;
}


/* 列表 */
/* 企业信息 */
section .content-List .information {
    width: 100%;
    /* height:230px; */
    background: #f9f9f9;
    margin-bottom: 20px;
}

section .content-List .information ul {
    /* height: 100%; */
    margin-bottom: 0;
}

section .content-List .information li {
    height: 100%;
    background: #f9f9f9;
    /* margin-bottom: 10px; */
    /* line-height: 230px; */
    text-align: center;
}

section .content-List .information h2 {
    color: #2869c1;
    font-size: 16px;
    margin-top:0; 
    margin-bottom: 36px;
    text-align: left;
    padding-top:20px; 
    padding-left: 40px;
}

section .content-List .information h2 img {
    margin-right: 10px;
    width: 24px;
    height: 27px;
    display: inline-block;
}

section .content-List .information .space-box {
    /* height: 100%;
    width:100%; */
}

section .content-List .information li .space-box p {
    width: 100%;
    /* height: 20px; */
    text-align: left;
    padding-left: 60px;
    font-size: 14px;
    color: #999999;
    margin-bottom: 50px;
    /* 单行溢出 */
    /* overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis; */
}
.content-List .information li .space-box p span{
    margin-left: 20px;
    color: #333;
}

section .content-List .information .information-btm p {
    width: 100%;
    text-align: left;
    padding-left: 76px;
    padding-right: 76px;
    font-size: 14px;
    color: #999999;
    padding-bottom: 50px;
   
}
.content-List .information .information-btm p span{
    padding-left: 20px;
    color: #333;
}


/* 危险特性 */

section .content-List .dangerous {
    width: 100%;
    /* height:230px; */
    background: #f9f9f9;
    margin-bottom: 20px;
}

section .content-List .dangerous ul {
    /* height: 100%; */
    margin-bottom: 0;
}

section .content-List .dangerous li {
    height: 100%;
    background: #f9f9f9;
    /* margin-bottom: 10px; */
    /* line-height: 230px; */
    text-align: center;
}

section .content-List .dangerous h2 {
    color: #2869c1;
    font-size: 16px;
    margin-top:0; 
    margin-bottom: 36px;
    text-align: left;
    padding-top:20px; 
    padding-left: 40px;
}

section .content-List .dangerous h2 img {
    margin-right: 10px;
    width: 24px;
    height: 27px;
    display: inline-block;
}

section .content-List .dangerous .space-box {
    /* height: 100%;
    width:100%; */
}

section .content-List .dangerous li .space-box p {
    width: 100%;
    /* height: 20px; */
    text-align: left;
    padding-left: 60px;
    font-size: 14px;
    color: #999999;
    margin-bottom: 50px;
    /* 单行溢出 */
    /* overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis; */
}
.content-List .dangerous li .space-box p span{
    margin-left: 20px;
    color: #333;
}

section .content-List .dangerous .dangerous-btm p {
    width: 100%;
    text-align: left;
    padding-left: 76px;
    padding-right: 76px;
    font-size: 14px;
    color: #999999;
    padding-bottom: 50px;
   
}
.content-List .dangerous .dangerous-btm p span{
    padding-left: 20px;
    color: #333;

    
}



/* 企业平面图 */
section .content-List .plan {
    background-color: #f9f9f9;
}

section .content-List .plan h2 {
    color: #2869c1;
    font-size: 16px;
    margin-top:0; 
    margin-bottom: 20px;
    text-align: left;
    padding-top:20px; 
    padding-left: 40px;
}

section .content-List .plan h2 img {
    margin-right: 10px;
    width: 24px;
    height: 27px;
    display: inline-block;
}


/* section .content-List .plan .plan-bg {
    width: 100%;
    height: 100%;
} */

section .content-List .plan .plan-bg img {
    width: 100%;
    height: 400px;
    display: block;
     margin-left:25px;
    margin-bottom: 60px;
    padding-right: 50px; 
}


/* 手机端适配 */
@media(max-width: 560px) {
    section .content-List .information h2,
    section .content-List .dangerous h2,
    section .content-List .plan h2 {
        padding-left: 0px;
    }
    section .content-List .plan{
         padding:0;
    }
    section .content-List .information li .space-box p {    
        padding-left: 0px;
    }
    .content-List .information li .space-box p span{
        margin-left: 0px;
      
    }
    
    section .content-List .information .information-btm p {
        padding-left:20px;
        padding-right:20px;
       
    }
    .content-List .information .information-btm p span{
        padding-left: 0px;        
    }
    section .content-List .dangerous li .space-box p {    
        padding-left: 0px;
    }
    .content-List .dangerous li .space-box p span{
        margin-left: 0px;
      
    }
    
    section .content-List .dangerous .dangerous-btm p {
        padding-left:20px;
        padding-right:20px;
       
    }
    .content-List .dangerous .dangerous-btm p span{
        padding-left: 0px;        
    }
    section .content-List .plan .plan-bg img {
       
         margin-left:0px;
        padding-right: 0px; 
    }
    
}






/* 头部导航栏点击高亮 */
nav .nav span.enterprise_navColor{
	background-color: #5cc025;
	cursor: pointer;
}
nav .nav span.YQQY_navColor{
	background-color: #5cc025;
	cursor: pointer;
}
/* 搜索框手机端隐藏 */
@media (max-width: 750px) {
	header .head-search{
	 display: none !important;	
	}
	.mobile-search  .head-search{
		display: none !important;	
	   }
	 
}