@charset "utf-8";

/* 这个css是初始化的css，在任何手机项目里面都可以使用 */

/* 禁用iPhone中Safari的字号自动调整 */
html {
	-webkit-text-size-adjust: 100%;
	-ms-text-size-adjust: 100%;
	/* 解决IOS默认滑动很卡的情况 */
	/* -webkit-overflow-scrolling : touch;  */
}

/* 禁止缩放表单 */
input[type="submit"], input[type="reset"], input[type="button"], input {
	resize: none;
	border: none;
}

/* 取消链接高亮  */
a {
	-webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

/* 设置HTML5元素为块 */
article, aside, details, figcaption, figure, footer, header, menu, nav, section {
	display: block;
}

/* 图片自适应 */
img {
	width: 100%;
	height: auto;
	width: auto\9; /* ie8 */
	display: block;
	-ms-interpolation-mode: bicubic;/*为了照顾ie图片缩放失真*/
}

/* 初始化 */
/*body, div, ul, li, ol, h1, h2, h3, h4, h5, h6, input, textarea, select, p, dl, dt, dd, a, img, button, form, table, th, tr, td, tbody, article, aside, details, figcaption, figure, footer, header, menu, nav, section {*/
	/*margin: 0;*/
	/*padding: 0;*/
/*}*/


/*版心*/
.w {
	width: 1200px;
	min-width: 1200px;
	margin: 0 auto;
}
/*通配符*/
*{
	margin: 0;
	padding: 0;
}

body {
	font: 12px/1.5 'Microsoft YaHei','宋体', Tahoma, Arial, sans-serif;
	color: #555;
	background-color: #ffffff;
}
em, i {
	font-style: normal;
}
ul,li,ol{
	list-style-type: none;
}
strong {
	font-weight: normal;
}
.clearfix:after {
	content: "";
	display: block;
	visibility: hidden;
	height: 0;
	clear: both;
}
.clearfix {
	zoom: 1;
}
a {
	text-decoration: none;
	color: #969696;
	font-family: 'Microsoft YaHei', Tahoma, Arial, sans-serif;
}
a:link{
	text-decoration: none;
}
a:visited{
	text-decoration: none;
}
a:hover {
	text-decoration: none;
}
a:active{
	text-decoration: none;
}
h1, h2, h3, h4, h5, h6 {
	font-size: 100%;
	font-family: 'Microsoft YaHei';
}
img {
	border: none;
}
input{
	font-family: 'Microsoft YaHei';
}
/*单行溢出*/
.one-txt-cut{
	overflow: hidden;
	white-space: nowrap;
	text-overflow: ellipsis;
}
/*多行溢出 手机端使用*/
.txt-cut{
	overflow : hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    /* 这个是具体到到少行 */
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
}
.w50{
	width: 50%;
}
.w25{
	width: 25%;
}
.w20{
	width: 20%;
}
.w33{
	width: 33.333333%;
}
.fl{
	float: left;
}
.fr{
	float: right;
}
.db{
	display: block !important;
}
.dn{
	display: none;
}



